nav{
    width:700px;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
}
nav ul{
    display: flex;
    list-style: none;
    gap:30px;
} nav button{
    width: 70px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 30px;
}
header{
    width: 700px;
    height: 500px;
    background-color: rgb(57, 55, 55);
    color:white;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("https://static.abt.uz/crop/600__5dd23091864e7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
}
section{
    width: 700px;
    height: 500px;
    background-color:rgb(52, 50, 50) ;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuniTMqHaXVL_WkT914R_uaQF1-sG9Af34dQ&s");
}
section button{
    width: 300px;
    height: 50px;
    background-color: blue;
    color:white;
    border:none;
    border-radius: 10px;
}
footer{
    width:700px;
    height:200px;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;

}
footer ol{
    list-style: none;
    color:white;
    gap:70px;
    font-size: 30px;
    display: flex;
    text-decoration: none;
}
footer ul{
    display: flex;
    color:white;
    gap:70px;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}

body{
    width:100%;

    padding-left: 2500px;
    padding-top: 500px;
    border-radius: 70px;
}
div{
    width:100%;
    border-radius: 700px;
}